{% extends "layout.html" %}

{% block breadcrumb %}
<li class="active">dashboard</li>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/static/img/devops.jpg" alt="devops">
      <div class="caption">
        <h3>发布系统展示</h3>
        <p>这是一个发布系统的缩略图</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div><!--thumbnail end-->
  </div><!--第一个缩略图结束-->
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/static/img/devops.jpg" alt="devops">
      <div class="caption">
        <h3>资源平台展示</h3>
        <p>这是一个资源平台的缩略图</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div><!--thumbnail end-->
  </div><!--第二个缩略图结束-->
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/static/img/devops.jpg" alt="devops">
      <div class="caption">
        <h3>性能平台展示</h3>
        <p>这是一个性能平台的缩略图</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div><!--thumbnail end-->
  </div><!--第三个缩略图结束-->
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="/static/img/devops.jpg" alt="devops">
      <div class="caption">
        <h3>报警平台展示</h3>
        <p>这是一个报警平台的缩略图</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
	 <img src="/static/img/569_20160906162657.png" alt="devops">
      </div>
    </div><!--thumbnail end-->
  </div><!--第四个缩略图结束-->
</div><!--row end-->
{% endblock %}
