{% extends "layout.html" %}

{% block breadcrumb %}
<li><a href="#">用户管理</a><span class="divider"></span></li>
<li class="active">角色管理</li>
{% endblock %}

{% block body %}
<div class="widget-box">
   <div class="widget-title"> 
      <h5 style="float:left;"><i class="fa fa-table fa-fw"></i>角色管理</h5>
      <button style="float:right;" class="btn btn-primary btn-sm" id="addBtn">添加角色</button>
   </div> <!--widget-title end-->
<!--添加角色模态窗-->
<div id="addModal" class="modal fade">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">添加角色</h4>
	  </div><!--modal-header end-->

    <div class="modal-body">
    <form class="form-horizontal" id="addForm" accept-charset="UTF-8">
    <div class="control-group">
        <label class="control-label col-sm-3">角色名：</label>
        <div class="col-sm-9">
         <input type="text" name="name" class="form-control"  datatype="s1-16" errormsg="必须是1-16个字符" />
        </div>
    </div> <!--角色名添加-->
    <div class="control-group">
        <label class="control-label col-sm-3">中文名：</label>
        <div class="col-sm-9">
            <input  type="text" name="name_cn" class="form-control" datatype="*" errormsg="不能为空" />
        </div> 
    </div><!--中文名添加-->
    <div class="control-group">
		<label class ="control-label col-sm-3">权限: </label>
		<div class="col-sm-9">
                <select id="p_id" name="p_id" class ="form-control multiselect" datatype="*" errormsg="角色不能为空" multiple="multiple" >
                    </select>
		</div >   
	</div> <!--选择权限-->
    <div class="control-group">
        <label class="control-label col-sm-3">备注：</label>
        <div class="col-sm-9">
        <textarea class="form-control" rows="3" class="form-control"  name="info"></textarea>
        </div>    
    </div>  <!--备注-->
    <div class="form-group">
         <div class="modal-footer">
                <button class="btn btn-primary" id="submitbtn" >确认添加</button>
			 	<button class="btn btn-warning" data-dismiss="modal">退出</button>
        </div> 
    </div>
    </form> 

      </div><!-- /.modal-body-->
   </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <!--更新角色模态窗-->
<div id="updateModal" class="modal fade">
 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">更新角色</h4>
	  </div><!--modal-header end-->

    <div class="modal-body">
    <p hidden id="uperrorMsg" class="text-danger" style="color:red"></p> <!-- foe error msg-->
    <form class="form-horizontal" id="updateForm" accept-charset="UTF-8">
    <input type="hidden" id='upid' name="id">  <!--update need id-->
    <div class="control-group">
        <label class="control-label col-sm-3">角色名：</label>
        <div class="col-sm-9">
         <input type="text" id="upname" name="name" class="form-control"  datatype="s1-16" errormsg="必须是1-16个字符" />
        </div>
    </div> <!--角色名添加-->
    <div class="control-group">
        <label class="control-label col-sm-3">中文名：</label>
        <div class="col-sm-9">
            <input  type="text" id="upname_cn" name="name_cn" class="form-control" datatype="zh1-8" errormsg="必须是1-8个中文字符" />
        </div>  
    </div><!--中文名添加-->
    <div class="control-group">
		<label class ="control-label col-sm-3">权限: </label> 
		<div class="col-sm-9">
                <select id="upp_id" name="p_id" class ="form-control multiselect" datatype="*" errormsg="角色不能为空" multiple="multiple" >
                   </select> 
		</div >  
	</div> <!--选择权限-->
    <div class="control-group">
        <label class="control-label col-sm-3">备注：</label>
        <div class="col-sm-9">
        <textarea  rows="3" class="form-control" id="upinfo" name="info"></textarea>
        </div>   
    </div>  <!--备注-->
    <div class="form-group">
         <div class="modal-footer">
                <button class="btn btn-primary" id="upbtn" >确认更新</button>
			 	<button class="btn btn-warning" data-dismiss="modal">退出</button>
        </div> 
    </div>
    </form> 

      </div><!-- /.modal-body-->
   </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <div class="widget-content"> 
    <!--角色列表-->
		<table id ="datatable"  class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>角色名</th>
				<th>角色中文名</th>
				<th>拥有权限</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead> 
		<tbody>
		</tbody>
	   </table>

	</div><!--widget-content end-->

</div><!--widget-box end-->
{% endblock %}

{% block js %}

name='role'
function datatable(){
    $('#datatable').DataTable({
        "language": {
            "lengthMenu": "每页 _MENU_ 条记录",
            "zeroRecords": "没有找到记录",
            "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
            "infoEmpty": "无记录",
            "infoFiltered": "(从 _MAX_ 条记录过滤)",
            "sSearch": "搜索:",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "末页"
            }
        }
    });
};
/* list all data*/
function list(){
    url = "/listapi?method="+name
    $.getJSON(url,function(data){
       data=JSON.parse(data['result']); //object 
       console.log(data)   
       if (data['code']== 0){       
           var str = ''
           $.each(data.result,function(k,v){   
               str +='<tr class="odd gradeX">'+  
               '<td>'+v['name']+'</td>'+  
               '<td>'+v['name_cn']+'</td>'+  
               '<td>'+v['p_id']+'</td>'+  
               '<td>'+v['info']+'</td>'+ 
               '<td>'+
               '<button class="btn btn-primary btn-sm update-btn" data-id="'+v['id']+'">更新</button>'+
               '<button class="btn btn-danger btn-sm delete-btn" data-id="'+v['id']+'">删除</button>'+
               '</td>'+ '</tr>'          
           })       
                $("tbody").html(str)
                 datatable()
            }else{
                swal("error", data['errmsg'],"error")
            }
          })
}

list()
/*列出权限的信息，并拼接成复选框*/
function powerlist(){
    var url = "/listapi?method=power"
    $.getJSON(url, function(data){
        data=JSON.parse(data['result'])
        console.log(data)   
        if (data['code']== 0){
            var str = ''
            $.each(data.result, function(k,v){
                str += '<option value="'+v['id']+'">'+v['name']+'</option>'
            })
            $("#p_id").html(str)
            $('#p_id').multiselect({maxHeight:200, enableCaseInsensitiveFiltering: true})
            $("#p_id").multiselect('refresh')
        }else{
                swal("error","获取权限列表失败," + data['errmsg'],"error")
        } //if end
    })

}

/*点击按钮，显示添加用户模态窗*/
$("#addBtn").on('click',function(){
    powerlist()
    $('#addModal').modal('show')
})
$("#addForm").Validform({
    btnSubmit:"#submitbtn",
    tiptype:3, 
    datatype:{
        "zh2-4" : /^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/,
    }
})


/*用户添加*/
$('#addForm').on('submit',function(){
        var str = $('#addForm').serialize()
        var data={'method':name,'formdata':str}
        $.post('/addapi',data,function(data){ 
            data=JSON.parse(data);   //将json串转换为对象，然后取值
            data = JSON.parse(data['result']) //object
            console.log(data)
            if (data['code']==0){
                     swal({
                        title:"success", 
                        text:"添加成功",
                        type:"success",
                        confirmButtonText:'确定'
                        },function(){
                            $('#addModal').modal('hide')
                            window.location.reload();
                         })
            }else{
                swal("error","创建用户失败," + data['errmsg'],"error")
             }   /*if end*/
         })  /*post end*/
           return false;
})  /*submit end*/




/*点击按钮，显示更新用户模态窗,并获取用户的信息*/
$("tbody").on('click','.update-btn',function(){
    var id = $(this).attr('data-id')
    var url = "/getapi?method="+name+"&id="+id
    $.getJSON(url,function(data){
      data = JSON.parse(data['result'])
      console.log(data)
      if (data['code']==0){
          $('#upid').val(data['result']['id'])
          $('#upname').val(data['result']['name'])
          $('#upname_cn').val(data['result']['name_cn'])
          $('#upinfo').val(data['result']['info'])
          s_powerlist(id)
          $('#updateModal').modal('show')
      }else{
          swal("Error", data['errmsg'], "error")
      }
    })
})

/*获取角色所具备的权限，拼接为下拉列表*/
function s_powerlist(id){
    var url = "/getapi?method=selected&id="+id+"&m_table=role&field=p_id&s_table=power"
    $.getJSON(url, function(data){
        data=JSON.parse(data['result'])
        console.log(data)
        var str=''
        $.each(data.result, function(k,v){
            console.log(k,v)
            str +='<option value='+v['id']+" "+v['selected']+'>'+v['name']+
            '</option>'
        })
        console.log(str)
        $("#upp_id").html(str)
        $('#upp_id').multiselect({maxHeight:200, enableCaseInsensitiveFiltering: true})
        $('#upp_id').multiselect('refresh');
    })

}


/*更新用户信息*/
$('#updateForm').on('submit',function(){
        var str = $('#updateForm').serialize()
        var data = {'method':name,'formdata':str}
        $.post('/updateapi',data, function(data){  // data is string
            data = JSON.parse(data)    //object
            data = JSON.parse(data['result']) //object
            console.log(data)
            if (data['code']==0){   
            swal({
                title:"success",
                text:"更新成功",
                type:"success",
                confirmButtonText:'确定'
                },function(){
                    $('#updateModal').modal('hide')
                    location.reload()
                 })
            }else{
                $('#uperrorMsg').html('Failed: '+data['errmsg']).show()
            }
        })
             return false   //get data and end
})  //submit form

/*删除用户*/
$("tbody").on('click','.delete-btn',function(){
	if(confirm("是否确认删除？")){
		var id = $(this).attr('data-id')
		var url =  "/deleteapi?method="+name+"&id="+id
        console.log(url)
		$.getJSON(url,function(data){
            data = JSON.parse(data['result'])
			if (data['code']== 0 ){
                swal({
                    title:"success",
                    text:"删除成功",
                    type:"success",
                    confirmButtonText:'删除成功'
                    },function(){
                        location.reload()
                    })
 				
			}else{
				swal(data['errmsg'])
			}
     	})
    }  // end confirm
})   
{% endblock %}
